
<div class="ta">


    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">LOG-IN</h5>
          <label for="name">USER NAME:</label>
          <input type="text" placeholder="enter your name" id="username">
          <br><br>
          <label for="name">PASS WORD:</label>
          <input type="password" placeholder="enter your password" id="password">
          <br><br>
          <a href="home" class="btn btn-primary">log in</a>
          <br>
          <a href="email">forgot password</a>
        </div>
      </div>


</div>