<div class="cold">
<h1>Employee Management Details</h1> 
<form class="form-inline">
    <label for="employee"><h5>Employee Details:</h5>
    </label><br><br>
    <input class="form-control mr-sm-2" type="search" placeholder="search Employee details" aria-label="Search">
    <button  type="submit">Search</button>
    <div class="some">
      <button  type="submit">update details</button>
      <button  type="submit">delete details</button>
  </div>

  </form>
  <br><br>
  


  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WORKING HISTORY</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="workhistory" class="btn btn-primary">GET DATA</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TIME INFORMATION</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="timeinfo" class="btn btn-primary">GET DATA</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SALARY INFO</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="salaryinfo" class="btn btn-primary">GET DATA</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HOLIDAY INFO</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="holidayinfo" class="btn btn-primary">GET DATA</a>
        </div>
      </div>
    </div>
  </div>
 </div>



